body {
    background-image: url(../images/bg2.jpg);
    background-size: cover;

}

#title {
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-family: Strawberry;
    color: #333;
    margin-top: 70px;
}

@font-face {
    font-family: Strawberry;
    src: url(/StrawberryFields.ttf);
}

@font-face {
    font-family: Comfortaa;
    src: url(../Comfortaa-Bold.ttf);
}

.passwordBox {
    width: 500px;
    height: fit-content;
    margin-inline: auto;
    margin-top: 10%;
    padding-top: 20px;
    background-color: rgb(223, 248, 248);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#textField {
    font-family: Comfortaa;
    font-size: 20px;
    text-align: center;
}

#username {
    width: 35%;
    text-align: center;
    align-self: center;
    margin-top: 10%;
    font-size: 16px;
    font-family: Comfortaa;
    border-radius: 10px;
    border: none;
    padding: 2%;
}

#findMe, #securityAns {
    font-family: Comfortaa;
    font-size: 16px;
    text-align: center;
    margin-inline: auto;
    justify-content: center;
    border-radius: 10px;
    border: none;
    padding: 2%;
    border: 2px solid rgb(255, 255, 255);
    color: #2a9bcf;
    margin-bottom: 2%;
}

#answerVerify, #changePass {
    display: none;
    flex-direction: column;
}

#findMe:hover {
    opacity: 0.8;
    cursor: pointer;
}

#findMeResult, #newPasswordResult {
    font-family: Comfortaa;
    font-size: 14px;
    color: red;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
}

#securityQuestion {
    text-align: center;
    margin-top: 6%;
    font-family: Comfortaa;
}

#securityAns {
    margin-top: 3%;
}

.password-requirements {
    font-family: Comfortaa;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    align-self: center;
}

.password-requirements ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
}

.password-requirements li {
    margin-bottom: 5px;
}

#tryAgain {
    text-align: center;
    font-family: Comfortaa;
    color: red;
    margin-bottom: 4%;
    margin-top: 4%;
}

#newPassword, #verifyNewPassword {
    width: 35%;
    text-align: center;
    align-self: center;
    margin-top: 1%;
    font-size: 16px;
    font-family: Comfortaa;
    border-radius: 10px;
    border: none;
    padding: 2%;
}

#togglePassword {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 0;
}

#togglePassword img {
    width: 30px;
    height: 30px;
}